# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Temporary files
tmp/

# Large generated outputs
outputs/temp/

# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz